---
interface Props {
  quote: string;
  author: string;
}

const { quote, author } = Astro.props;
---

<section class="bg-indigo-50 py-20 dark:bg-zinc-800">
  <div class="mx-auto max-w-4xl px-4 text-center">
    <blockquote class="mb-8 text-3xl leading-tight font-black md:text-5xl">
      "{quote}"
    </blockquote>
    <cite
      class="text-lg font-bold text-neutral-600 not-italic dark:text-neutral-400"
    >
      — {author}
    </cite>
  </div>
</section>
